asgiref
certifi
charset-normalizer
contourpy
cycler
Django
djangorestframework
django-cors-headers
fonttools
gunicorn
idna
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
python-dotenv
psycopg2-binary
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
setuptools
six
sqlparse
threadpoolctl
tzdata
urllib3
wheel
